html{
    background-color:#ffffff;
    color: #8C7965;
    font-family: sans-serif;
    font-size: 12px;
}
/*	Teal 		#00878F
	Light Teal	#62AEB2
	Orange	 	#E47128
	Yellow		#E5AD24	 rgba(229, 173, 36, .9)
	Brown 		#8C7965
	other 		#ECF1F1     */

h1,h2,h3,h4{
        color: #00878F;
        text-align: right;
}
h2{
    color: #E47128;
	padding: 10px;
    text-transform: uppercase;   
}

a{
    text-decoration: none;
    color: #E5AD24;
}
a:hover{
	color: #00878F;
	text-decoration: none;
}
.container{
/*	padding-right: 500px;*/
}
body{
	background-color: #ECF1F1;
    margin: 10px;
	padding: 15px;
    font-size: 12px;
	color: #8C7965;
    border: 12px hidden;
    border-radius: 25px;
    font-family: 'Helvetica Neue', 'Helvetica', 'Open Sans';
}
body p{
	background-color: rgba(255,255,255, .3);
padding: 2px;
	border-style: hidden;
	border-radius: 5px;
}
/*
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
*/


.custom-toggler.navbar-toggler {
    border-color: #E5AD24;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#E5AD24' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler:hover {
    border-color: #ECF1F1;
}

.navColors{
	color: #E5AD24;
	margin: auto;
	background-color: rgba(0, 135, 143, .9);

background-image: url(data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://ww…p='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E);
	border-radius: 15px;
}
.navColors a:hover{
	color: #ECF1F1 !important; }

.removePadding{
	padding: 0;
}
footer{
	text-align: center;
	text-shadow: 1px 21px 1px white;
}
table{
    width: 50vw; 
}
tr.even{
    background-color: whitesmoke;
}
tr:hover{
    color:red;
    background-size: contain;
    background-repeat: no-repeat;
}

button{
    border-radius: 10px;
    padding: 10px;
}
input{
    border-radius: 13px;
    border-bottom-style:solid;
    border-right-style: solid
}
.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
/*
image{
    text-align: center;
    border border-bottom-style: outset
    border: 20px;
    max-width: 100%;
}
*/

/*
@media screen and (min-width: 500px){
   .row{
        display: flex;
        flex-direction: column;
    }
    body{
        background-color: ghostwhite;
    	       font-size: 20px;
	}
	header{
    font-size: 22px;
}

@media screen and (min-width: 900px){
    body{
        background-color: lightgray;
	font-size: 16px;

    }
	header{
    font-size: 18px;
}
@media screen and (min-width: 1240px){
    body{
        background-color: white;
        display: block;
	font-size: 12px;

    }
	header{
    font-size: 14px;
}
*/
